<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orderapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ايجار سياره"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderApp">
        <activity android:name=".AcceptScreen"></activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ProvidersMyOrdersActivity"
            android:label="ايجار سيارة" />
        <activity
            android:name=".ProviderOrderDetailsActivity"
            android:label="التفاصيل" />
        <activity
            android:name=".ProviderMainActivity"
            android:label="المندوب" />
        <activity android:name=".UserOrderDetailsActivity" />
        <activity
            android:name=".UserAddOrderActivity"
            android:label="اضافة طلب" />
        <activity
            android:name=".ProfileActivity"
            android:label="الاعدادات" />
        <activity android:name=".PhoneSignUpActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="تسجيل" />
        <activity
            android:name=".UserMainActivity"
            android:label="الرئيسيه" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>